<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081245504663-7h8eibgpclojmd7pq645d275om9f4564.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081245504663-7h8eibgpclojmd7pq645d275om9f4564</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081245504663-vl93il7i8vg6nq0melvp09pqvvs102t9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVWwPtC1J3ftS56Jn1sWksh3khnSuZO6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1081245504663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpower.flutter.drug.delivery</string>
	<key>PROJECT_ID</key>
	<string>drugplatform-f3cc8</string>
	<key>STORAGE_BUCKET</key>
	<string>drugplatform-f3cc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081245504663:ios:2e60a635104a61633305d2</string>
	<key>DATABASE_URL</key>
	<string>https://drugplatform-f3cc8.firebaseio.com</string>
</dict>
</plist>